[Global]
appName=
version=0.0.1-test
port=8888
#运行环境
Env=development

#支持数据：Sqlite,Postgres,MySQL,SqlServer,Oracle
[production]
adapter=sqlite3
database=test_db.db
host=localhost
username=root
password=
encoding=utf8

[development]
adapter=sqlite3
database=test_db_development.db
host=localhost
username=
password=
encoding=utf8

[test]
adapter=mysql
database=test_db
host=localhost:3306
username=root
password=
encoding=utf8